<h3 id="cannySection">6. Bubble Detection using Canny algorithm</h3>
<ul class="spaced-container list-unstyled">
  <li class="spaced-container">
    <h4 id="cannyAlgSection">6.1. Canny Algorithm</h4>
    <div class="section-description">
      <p>
      The images bellow are a result of the implementation of the Canny algorithm for bubble detection.
      </p>
      <div class="spaced-container">
        <img src="{{ "/assets/img/dip/canny/original.png" | relative_url }}"/>
        <img src="{{ "/assets/img/dip/canny/sample.png" | relative_url }}"/>
      </div>
      <div class="code-reference">
        <a href="https://github.com/rqroz/PDI/tree/master/Canny" target="_blank">
          <span class="fa fa-code"></span>
          Click here and go check the code.
        </a>
      </div>
    </div>
  </li>
</ul>
