<h3 id="frequencyFilteringSection">7. Frequency Domain Filtering</h3>
<ul class="spaced-container list-unstyled">
  <li class="spaced-container">
    <h4 id="frequencyFilteringDescSection">7.1. Results</h4>
    <div class="section-description">
      <p>
      The images bellow are a result of an implementation of the homomorphic filter to enhance images with bad lighting. <a target="_blank" href="http://agostinhobritojr.github.io/tutoriais/pdi/exemplos/dft.cpp">This code</a>
      was used as a starting point.
      </p>
      <div class="spaced-container">
        <!-- <img src="{{ "/assets/img/dip/kmeans/sample1.png" | relative_url }}"/> -->
        <!-- <img src="{{ "/assets/img/dip/kmeans/sample2.png" | relative_url }}"/> -->
      </div>
      <div class="code-reference">
        <a href="https://github.com/rqroz/PDI/tree/master/FrequencyDomainFiltering" target="_blank">
          <span class="fa fa-code"></span>
          Click here and go check the code.
        </a>
      </div>
    </div>
  </li>
</ul>
