<h3 id="kmeansSection">7. Vectorial Quantization using K-Means</h3>
<ul class="spaced-container list-unstyled">
  <li class="spaced-container">
    <h4 id="kmeansAlgSection">7.1. Results</h4>
    <div class="section-description">
      <p>
      The images bellow are a result of a vectorial quantization by k-means using <a target="_blank" href="http://agostinhobritojr.github.io/tutoriais/pdi/exemplos/kmeans.cpp">this</a>
      code as a basis and changing the parameters nRodadas to 1 and KMEANS_PP_CENTERS to KMEANS_RANDOM_CENTERS.
      </p>
      <div class="spaced-container">
        <img src="{{ "/assets/img/dip/kmeans/sample1.png" | relative_url }}"/>
        <img src="{{ "/assets/img/dip/kmeans/sample2.png" | relative_url }}"/>
      </div>
      <div class="code-reference">
        <a href="https://github.com/rqroz/PDI/tree/master/K-Means" target="_blank">
          <span class="fa fa-code"></span>
          Click here and go check the code.
        </a>
      </div>
    </div>
  </li>
</ul>
