<section class="spaced-container text-center">
    <h1>Digital Imaging Processing</h1>
    <h4>
      In this page will be discussed several topics on digital imaging processing/manipulation.
    </h4>
</section>

<section id="pixels">
  <div class="container">
    {% include DIP/sections/pixels.html %}
  </div>
</section>

<section id="regions">
  <div class="container">
    {% include DIP/sections/regions.html %}
  </div>
</section>

<section id="histogram">
  <div class="container">
    {% include DIP/sections/histogram.html %}
  </div>
</section>

<section id="spatialFiltering">
  <div class="container">
    {% include DIP/sections/spatialFiltering.html %}
  </div>
</section>

<section id="frequencyFiltering">
  <div class="container">
    {% include DIP/sections/frequencyFiltering.html %}
  </div>
</section>

<section id="cannyAlgorithm">
  <div class="container">
    {% include DIP/sections/canny.html %}
  </div>
</section>

<section id="kmeans">
  <div class="container">
    {% include DIP/sections/kmeans.html %}
  </div>
</section>
{% include footer.html %}
