<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li><h3>Guide</h3></li>
    <li>
      <a href="#pixelManipulationSection">1. Pixel Manipulation</a>
      <ul class="sublist list-unstyled">
        <li><a href="#negativeSection">1.1. Regions</a></li>
        <li><a href="#swappingRegionsSection">1.2. Swapping Regions</a></li>
      </ul>
    </li>
    <li>
      <a href="#regionDetectionSection">2. Region Detection</a>
      <ul class="sublist list-unstyled">
        <li><a href="#labellingSection">2.1. Labelling</a></li>
      </ul>
    </li>
    <li>
      <a href="#histogramSection">3. Histogram Manipulation</a>
      <ul class="sublist list-unstyled">
        <li><a href="#equalizingSection">3.1. Equalizing Images</a></li>
        <li><a href="#motionDetectionSection">3.2. Motion Detection</a></li>
      </ul>
    </li>
    <li>
      <a href="#filteringSection">4. Spatial Domain Filtering</a>
      <ul class="sublist list-unstyled">
        <li><a href="#spatialFilteringSection">4.1. Spatial Filter</a></li>
        <li><a href="#tiltShiftSection">4.2. Tilt Shift</a></li>
        <li><a href="#tiltShiftVideoSection">4.3. Tilt Shift Video</a></li>
      </ul>
    </li>
  </ul>
</div>
