---
---

@import "{{ site.theme }}";

body {
	padding-top: 51px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none !important;
}

.navbar {
	margin-bottom: 0px !important;
}

.coding-header {
	background-color: rgb(39, 38, 34);
	background-image:url('../img/bg.jpeg');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center center;
}

.project-name {
	// margin: 3rem;
	display: inline-block;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	border-radius: 3rem;
	background-color: rgba(39, 38, 34, 0.5);
}

.page-header {
	color: #fff;
	text-align: center;
	margin: 0px;
	padding: 80px 96px !important;
}

.project-name a {
	color: white;
}

@media screen and (min-width: 64em) {
	.page-header {
		// padding: 5rem 6rem;
	}

	.project-name {
		// font-size: 3.25rem;
	}
}

.site-footer {
	text-align: center !important;
	color: #828282;
}

.site-footer a {
	color: #828282;
}


.site-footer span {
	color: #272622;
}

section {
	margin: 2rem;
}

.container {
	width: auto !important;
}

.spaced-container {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.spaced-container img {
	margin-bottom: 0.5rem;
}
