---
---

@import "{{ site.theme }}";

.coding-header {
	background-color: #272622;
	background-image:url('../img/bg.jpeg'); 
	background-repeat: no-repeat; 
	background-size: 100%; 
	background-position: center center;
}