<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
    {% include navbar.html %}


    <script src="{{ "/assets/vendor/jquery/jquery.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/vendor/bootstrap/js/bootstrap.bundle.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/main.js" | relative_url }}"></script>

    <main class="page-content" aria-label="Content">
      {{ content }}
    </main>

    
  </body>

</html>
